@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">General Store is a web app that allows users to check product in the general store.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click the button link below to add a product
        </p>
        <p><a class="btn btn-default" href="#">Add Product &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Click the button link below to learn more.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Click the button link below to contact us</p>
        <p><a class="btn btn-default" href="#">Contact Us &raquo;</a></p>
    </div>
</div>